:root {
    --font-size: 17px;
    --anim-dur: 1.3s;
    --ui-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --article-font: Noticia;
    --dev-visibility: 1px;
}

* {
    box-sizing: border-box;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* ANCHOR Public Classes */

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ver-center {
    align-items: center;
}

.hor-center {
    justify-content: center;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.no-text-deco {
    text-decoration: none;
}

.border1 {
    border: 1px solid blue;
    border-width: var(--dev-visibility);
}

.border2 {
    border: 1px solid red;
    border-width: var(--dev-visibility);
}

.border3 {
    border: 1px solid green;
    border-width: var(--dev-visibility);
}

/* ANCHOR Nav Bar */

nav {
    font-family: var(--ui-font);
    margin: 10px 0 0 0;
    width: 100vw;
    height: auto;
    animation: fadeIn var(--anim-dur);
}

hr {
    border: 0.5px solid inherit;
    border-color: rgba(0, 0, 0, 0.212);
}

.logo {
    width: 400px;
    height: auto;
    padding: 12px 0 30px 0;
    animation: fadeInDown var(--anim-dur);
}

.links {
    gap: 3.906vw;
    flex-basis: 100%;
    padding: 0 0 10px 0;
    animation: zoomIn var(--anim-dur);
}

a.link {
    color: hsl(0, 0%, 25%);
    transition: 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    padding: 5px 10px 5px 10px;
}

a.link:hover {
    scale: 1.2;
}

.search-icon {
    height: 23px;
}

.subscribe {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 10px;
}

/* ANCHOR Article Code */
.content {
    animation: fadeIn var(--anim-dur);
}

.head-top {
    padding: 20px 0 30px 0;
}

.article-wrapper {
    width: calc(200px + 60vw);
}

.title {
    font-family: coromantGaramond-Bold;
    font-size: 48px;
    -webkit-font-smoothing: antialiased;
}

.title~hr {
    width: 80%;
    margin-left: 0;
    border: 0.5px solid inherit;
}

.stamps {
    padding: 10px 15px 20px;
}

.authors {
    padding: 0 10px 0 0;
    font-size: 18px;
    font-family: coromantGaramond-Bold;
}

.date {
    padding: 0 0 0 10px;
    color: rgb(58, 58, 58);
    font-family: var(--ui-font);
    font-size: 13.5px;
}

.actions {
    font-family: var(--ui-font);
    font-size: 13px;
    gap: 25px;
    padding-left: 15px;
}

.actions>div>svg {
    width: 23px;
    height: auto;
    margin-right: 8px;
}

.print>svg {
    stroke: #FFFFFF;
    stroke-width: 0.8px;
}

.text>svg {
    stroke: #FFFFFF;
    stroke-width: 1.4px;
}

.image>img {
    border-radius: 7px;
}

.article {
    padding: 30px 0 10px 0;
    font-family: coromantGaramond;
    font-size: calc(13px + 0.4vw);
}

/* ANCHOR Media Queries */
@media screen and (max-width: 611px) {
    .logo {
        width: 50vw;
        padding: 9px 0 12px 0;
    }
    .links {
        display: none;
    }
    .content {
        margin: 0 15px;
    }
    .title {
        font-size: 30px;
    }
    .authors {
        font-size: 13.5px;
    }
    .date {
        font-size: 12px;
    }
    .subscribe {
        display: none;
    }
}